{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
   <div class="header" display:flex;gap:10px;>
      <img src="{% static 'img/logo.png' %}" style="width:60px" />
      <h3>Home</h3>
      



   </div>
  <section class="post_form">
    <form action="/" method="Post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Name" required /><br />
      <input name="body" placeholder="Tell us anything" required />
      <input type="file" name="image" />
      <div class="input1">
         <input type="submit" value="Posts" />
      </div>
    </form>
  </section>

  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
          <a href="/delete/{{ post.id }}">Delete</a> <br>
          <a href="/edit/{{post.id}}">Edit</a>
        </div>
        <div class="logo">
          <img src="{% static 'img/profile-user.png' %}" width="50px" />
        </div>
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
          <br />

          {% if post.image.url %}
          <img src="{{post.image.url}}" style="width: 250px;height: 200px;" alt="" />
        <div>
           {% endif %}
            <a href="likes/{{ post.id }}"><img src="{% static 'img/like.png' %}" style="width: 30px"/></a>
            {{post.likecount}}
      </div>
       <a href="/delete/{{post.id}}"></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'posts.js' %}"></script>
</section>

{% endblock %}
